<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Crea Pizza</title>
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
	</head>
	<body class="container-fluid" th:object="${pizza}">
		
		<h1>
			Crea la tua pizza!
		</h1>
		
		<form class="row g-3" method="POST">
		
		  <div class="col-12">
		    <label for="inputEmail4" class="form-label">Nome</label>
		    <input type="text" class="form-control" name="name" th:value="*{name}">
		    <label 
				style="color: red"
				th:if="${errors != null && errors.hasFieldErrors('name')}"
			>
				[[ ${errors.getFieldError('name').defaultMessage} ]]
			</label>
		  </div>
		   
		  <div class="col-12">
		  	<label for="inputEmail4" class="form-label">Descrizione</label>
		  	<textarea class="form-control" name="description">[[ *{description} ]]</textarea>
		  	<label 
				style="color: red"
				th:if="${errors != null && errors.hasFieldErrors('description')}"
			>
				[[ ${errors.getFieldError('description').defaultMessage} ]]
			</label>
		  </div>
		  
		  <div class="col-6">
		    <label for="inputAddress" class="form-label">Url dell'immagine</label>
		    <input type="text" class="form-control" name="imgUrl" th:value="*{imgUrl}">
		    <label 
				style="color: red"
				th:if="${errors != null && errors.hasFieldErrors('imgUrl')}"
			>
				[[ ${errors.getFieldError('imgUrl').defaultMessage} ]]
			</label>
		  </div>
		  
		  <div class="col-6">
		    <label for="inputAddress2" class="form-label">Prezzo</label>
		    <input type="number" class="form-control" name="price" th:value="*{price}">
		    <label 
				style="color: red"
				th:if="${errors != null && errors.hasFieldErrors('price')}"
			>
				[[ ${errors.getFieldError('price').defaultMessage} ]]
			</label>
		  </div>
		  
		  <div class="col-12 text-center">
		  	<input type="submit" value="Creala!" class="btn btn-success">
		  </div>
		
		</form>

		<a th:replace="fragments :: backHome()"></a>
	 
	</body>
</html>