<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Crea Ingrediente</title>
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
	</head>
	<body class="container-fluid" th:object="${ingrediente}">
		
		<h1>
			Create un nuovo ingrediente!
		</h1>
		
		<form class="row g-3" method="POST">
		
			<select name="pizza">
				<option
					th:each="pizza : ${pizze}"
					th:object="${pizza}"
					th:value="*{id}"
				>
					[[ *{name} ]]
				</option>
			</select>
		
		  <div class="col-12">
		    <label class="form-label">Nome</label>
		    <input type="text" class="form-control" name="name" th:value="*{name}">
		    <label 
				style="color: red"
				th:if="${errors != null && errors.hasFieldErrors('name')}"
			>
				[[ ${errors.getFieldError('name').defaultMessage} ]]
			</label>
		  </div>
		  
		  <div class="col-12 text-center">
		  	<input type="submit" value="Crealo!" class="btn btn-success">
		  </div>
		
		</form>

		<a th:replace="fragments :: backHome()"></a>
	 
	</body>
</html>